In [ ]:
import pandas as pd
import numpy as np

# Create 1000 records
np.random.seed(42)

order_ids = np.arange(1001, 2001)
dates = pd.date_range(start='2023-01-01', periods=365)
customers = ['Ravi', 'Aman', 'Sita', 'Neha', 'Ajay', 'Priya', 'Vikram', 'Karan']
products = ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Charger', 'Mobile', 'Tablet', 'Earbuds']
category = ['Computers', 'Accessories', 'Mobiles']

data = {
    'OrderID': np.random.choice(order_ids, 1000),
    'Date': np.random.choice(dates, 1000),
    'Customer': np.random.choice(customers, 1000),
    'Product': np.random.choice(products, 1000),
    'Category': np.random.choice(['Computers','Accessories','Mobiles'], 1000),
    'Quantity': np.random.randint(1, 5, 1000),
    'Price': np.random.randint(500, 90000, 1000),
    'City': np.random.choice(['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore'], 1000)
}

df = pd.DataFrame(data)
df.to_csv("electronics_sales.csv", index=False)

df.head()

,OrderID,Date,Customer,Product,Category,Quantity,Price,City
0,1103,2023-12-31,Karan,Charger,Accessories,3,28026,Bangalore
1,1436,2023-01-05,Sita,Monitor,Accessories,2,73993,Mumbai
2,1861,2023-04-29,Sita,Tablet,Accessories,4,52698,Bangalore
3,1271,2023-10-16,Aman,Mobile,Mobiles,1,43895,Mumbai
4,1107,2023-03-06,Vikram,Earbuds,Accessories,1,24531,Mumbai

In [ ]:
import pandas as pd

df = pd.read_csv("electronics_sales.csv")
df.head()

,OrderID,Date,Customer,Product,Category,Quantity,Price,City
0,1103,2023-12-31,Karan,Charger,Accessories,3,28026,Bangalore
1,1436,2023-01-05,Sita,Monitor,Accessories,2,73993,Mumbai
2,1861,2023-04-29,Sita,Tablet,Accessories,4,52698,Bangalore
3,1271,2023-10-16,Aman,Mobile,Mobiles,1,43895,Mumbai
4,1107,2023-03-06,Vikram,Earbuds,Accessories,1,24531,Mumbai

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   1000 non-null   int64
 1   Date      1000 non-null   object
 2   Customer  1000 non-null   object
 3   Product   1000 non-null   object
 4   Category  1000 non-null   object
 5   Quantity  1000 non-null   int64
 6   Price     1000 non-null   int64
 7   City      1000 non-null   object
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.columns

Index(['OrderID', 'Date', 'Customer', 'Product', 'Category', 'Quantity',
       'Price', 'City'],
      dtype='object')

In [ ]:
# convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,OrderID,Date,Customer,Product,Category,Quantity,Price,City,Month,Daate
0,1103,2023-12-31,Karan,Charger,Accessories,3,28026,Bangalore,12,2023-12-31
1,1436,2023-01-05,Sita,Monitor,Accessories,2,73993,Mumbai,1,2023-01-05
2,1861,2023-04-29,Sita,Tablet,Accessories,4,52698,Bangalore,4,2023-04-29
3,1271,2023-10-16,Aman,Mobile,Mobiles,1,43895,Mumbai,10,2023-10-16
4,1107,2023-03-06,Vikram,Earbuds,Accessories,1,24531,Mumbai,3,2023-03-06

In [ ]:
# Check mission values
df.isnull()

     OrderID   Date  Customer  Product  Category  Quantity  Price   City
0      False  False     False    False     False     False  False  False
1      False  False     False    False     False     False  False  False
2      False  False     False    False     False     False  False  False
3      False  False     False    False     False     False  False  False
4      False  False     False    False     False     False  False  False
..       ...    ...       ...      ...       ...       ...    ...    ...
995    False  False     False    False     False     False  False  False
996    False  False     False    False     False     False  False  False
997    False  False     False    False     False     False  False  False
998    False  False     False    False     False     False  False  False
999    False  False     False    False     False     False  False  False

[1000 rows x 8 columns]

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df

,OrderID,Date,Customer,Product,Category,Quantity,Price,City
0,1103,2023-12-31,Karan,Charger,Accessories,3,28026,Bangalore
1,1436,2023-01-05,Sita,Monitor,Accessories,2,73993,Mumbai
2,1861,2023-04-29,Sita,Tablet,Accessories,4,52698,Bangalore
3,1271,2023-10-16,Aman,Mobile,Mobiles,1,43895,Mumbai
4,1107,2023-03-06,Vikram,Earbuds,Accessories,1,24531,Mumbai
...,...,...,...,...,...,...,...,...
995,1010,2023-01-07,Ajay,Monitor,Mobiles,1,15359,Chennai
996,1824,2023-01-29,Vikram,Laptop,Computers,2,27736,Kolkata
997,1798,2023-02-02,Priya,Laptop,Mobiles,2,32399,Delhi
998,1242,2023-05-14,Neha,Earbuds,Mobiles,1,32583,Bangalore
999,1251,2023-03-20,Aman,Earbuds,Mobiles,3,68208,Chennai

In [ ]:
# List all laptop orders
df[df['Product'] == 'Laptop']

,OrderID,Date,Customer,Product,Category,Quantity,Price,City
18,1664,2023-04-08,Ajay,Laptop,Mobiles,3,21384,Chennai
27,1386,2023-09-16,Priya,Laptop,Computers,2,66401,Delhi
30,1277,2023-06-14,Sita,Laptop,Computers,1,78778,Kolkata
33,1314,2023-05-25,Neha,Laptop,Mobiles,3,81659,Kolkata
42,1682,2023-02-03,Neha,Laptop,Accessories,4,64786,Bangalore
...,...,...,...,...,...,...,...,...
964,1316,2023-11-22,Vikram,Laptop,Computers,4,29592,Delhi
966,1540,2023-08-21,Ravi,Laptop,Accessories,3,40969,Delhi
973,1502,2023-10-05,Sita,Laptop,Mobiles,3,55245,Chennai
996,1824,2023-01-29,Vikram,Laptop,Computers,2,27736,Kolkata
997,1798,2023-02-02,Priya,Laptop,Mobiles,2,32399,Delhi

In [ ]:
# orders above 50,000 price
df[df['Price'] > 50000]

,OrderID,Date,Customer,Product,Category,Quantity,Price,City
1,1436,2023-01-05,Sita,Monitor,Accessories,2,73993,Mumbai
2,1861,2023-04-29,Sita,Tablet,Accessories,4,52698,Bangalore
5,1072,2023-05-26,Aman,Charger,Computers,2,76042,Mumbai
16,1100,2023-10-10,Vikram,Mouse,Mobiles,1,67129,Kolkata
17,1872,2023-06-26,Vikram,Mouse,Computers,4,81264,Mumbai
...,...,...,...,...,...,...,...,...
985,1547,2023-07-29,Ravi,Monitor,Computers,3,82031,Bangalore
987,1390,2023-09-27,Neha,Earbuds,Computers,3,63977,Delhi
989,1883,2023-06-24,Neha,Keyboard,Mobiles,1,83829,Delhi
991,1709,2023-07-23,Karan,Mobile,Computers,2,62508,Kolkata
999,1251,2023-03-20,Aman,Earbuds,Mobiles,3,68208,Chennai

In [ ]:
# order from delhi in 2023
df[(df['City'] == 'Delhi') & (df['Date'].dt.year == 2023)]

,OrderID,Date,Customer,Product,Category,Quantity,Price,City
12,1331,2023-03-04,Sita,Tablet,Computers,4,17044,Delhi
13,1459,2023-08-05,Ajay,Keyboard,Computers,1,16399,Delhi
27,1386,2023-09-16,Priya,Laptop,Computers,2,66401,Delhi
31,1161,2023-07-21,Ravi,Keyboard,Computers,1,12891,Delhi
32,1460,2023-03-24,Priya,Charger,Accessories,3,29401,Delhi
...,...,...,...,...,...,...,...,...
980,1732,2023-01-17,Aman,Mouse,Accessories,4,22691,Delhi
987,1390,2023-09-27,Neha,Earbuds,Computers,3,63977,Delhi
988,1594,2023-07-11,Ajay,Mobile,Computers,2,13710,Delhi
989,1883,2023-06-24,Neha,Keyboard,Mobiles,1,83829,Delhi
997,1798,2023-02-02,Priya,Laptop,Mobiles,2,32399,Delhi

In [ ]:
# sorting
df.sort_values(by='Price', ascending=False).head(10)

,OrderID,Date,Customer,Product,Category,Quantity,Price,City
317,1907,2023-12-27,Karan,Mobile,Mobiles,3,89999,Mumbai
235,1231,2023-06-01,Ajay,Mobile,Computers,4,89962,Bangalore
651,1094,2023-07-12,Karan,Mouse,Computers,4,89924,Chennai
911,1134,2023-08-04,Neha,Laptop,Mobiles,4,89889,Mumbai
770,1279,2023-06-10,Ravi,Keyboard,Mobiles,2,89835,Chennai
924,1764,2023-12-11,Neha,Laptop,Mobiles,1,89812,Mumbai
165,1805,2023-08-02,Ajay,Tablet,Computers,2,89632,Kolkata
154,1135,2023-10-19,Ravi,Earbuds,Mobiles,4,89549,Delhi
408,1706,2023-05-14,Vikram,Earbuds,Accessories,1,89537,Bangalore
844,1168,2023-02-23,Vikram,Mouse,Accessories,1,89360,Bangalore

In [ ]:
# total sales per product
df.groupby('Product')['Price'].sum().sort_values(ascending=True)

Product
Laptop      5071913
Charger     5124380
Tablet      5249337
Mouse       5428096
Keyboard    5493609
Mobile      5554155
Earbuds     6365900
Monitor     6958084
Name: Price, dtype: int64

In [ ]:
# avg order price per city
df.groupby('City')['Price'].mean()

City
Bangalore    43854.661765
Chennai      44354.305825
Delhi        44505.941463
Kolkata      46742.284946
Mumbai       46956.547739
Name: Price, dtype: float64

In [ ]:
# quantity sold per category
df.groupby('Category')['Quantity'].sum()

Category
Accessories    759
Computers      907
Mobiles        784
Name: Quantity, dtype: int64

In [ ]:
# monthly sales trend
# df.groupby('Month')['Total'].sum()
df['Month'] = df['Date'].dt.month
df.groupby('Month')['Price'].sum()

Month
1     4441018
2     3667584
3     3159018
4     3702585
5     3316103
6     4029917
7     2908169
8     4425173
9     3476290
10    3899535
11    4114125
12    4105957
Name: Price, dtype: int64