##Module 1: Getting Started with the Basics

<!-- #include<stdio.h>
int main(){
    printf("HELLO");
    return 0;
} -->

###### C++ vs Java vs Python

####### Comparison Table

| Feature       | C++                                | Java                               | Python                             |
|---------------|------------------------------------|------------------------------------|------------------------------------|
| Type          | Compiled language                  | Compiled to bytecode, runs on JVM  | Interpreted language               |
| Syntax        | Complex, many rules                | Strict, everything in classes       | Very simple, uses indentation      |
| Speed         | Fastest (directly machine code)    | Medium (runs on JVM, adds a layer) | Slowest (interpreted line by line) |
| Memory        | Manual (new/delete)                | Automatic Garbage Collection        | Automatic Garbage Collection       |
| OOP           | Classes, multiple inheritance      | Classes, single inheritance (interfaces for more) | Classes, multiple inheritance |
| Portability   | Works only where compiled          | "Write once, run anywhere" (JVM)    | Runs anywhere with Python installed |
| Use Cases     | Games, OS, system programming      | Android apps, enterprise projects   | AI, data science, web apps, automation |
| Learning      | Hard (complex + memory handling)   | Medium (strict but consistent)      | Easy (simple syntax)               |

---

####### Why Speed Differs
- **C++** → Compiled directly to machine code → no middle layer → fastest  
- **Java** → Compiled to bytecode → then runs on JVM → slower than C++  
- **Python** → Interpreted line by line at runtime → slowest  

---

####### In One Line
- **C++** = Fast (direct to machine)  
- **Java** = Medium (JVM layer)  
- **Python** = Slow (interpreter: An interpreter is a program that reads and executes code line by line directly, without converting it into machine code first.)

In [ ]:
# The print() function displays output to the screen.
print("Hello, World!")

Hello, World!

In [ ]:
# Hello

'''
hiuahi dqdoi hfigwiuas hdqf
skdfh qlidwof
aiflld iqw d
flyi efqoi;d

'''

print("Hello")

Hello

In [ ]:
# A variable is a name for a value.
# Here, 'x' is the variable and 10 is its value.
x = 10
print(x)

10

In [ ]:
name = "Alice"              # String (text)
age = 25                    # Integer (whole number)
height = 5.7                # Float (decimal number)
is_student = True           # Boolean (True or False)

print(name)
print(age)
print(height)
print(is_student)

Alice
25
5.7
True

In [ ]:
first_name = "Python"
last_name = "D"
full_name = first_name+ "-" + last_name
print(full_name)

Python-D

In [ ]:
score = 100
print(score)      # Prints 100
score = score + 10
print(score)      # Prints 110

100
110

In [ ]:
# The type() function tells you what kind of data is stored.
value = 99.9

print(type(value))

<class 'float'>

In [ ]:
name = input("Enter Your name:")

Enter Your name:xyz

In [ ]:
print(name)

xyz

In [ ]:
user_name = input("Please enter your name: ")
print("Hello, " + user_name + "!")

7
x = input("Give me a integer Value: ")
f = input("Give me a float Value: ")

print(x)
print(f)

Please enter your name: dhsh
Hello, dhsh!
Give me a integer Value: 4
Give me a float Value: 78.77
4
78.77

In [ ]:
print(f"My name is {name}, hello {x} and {f}")

My name is xyz, hello 4 and 77

In [ ]:
print(f" x is {x} and y is {f}")

 x is 3 and y is 12

In [ ]:
print(type(user_name))
print(type(x))
print(type(f))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
print(type(x))
x = int(x)
print(type(x))

rollno = int(input("enter your roll no"))
print(type(rollno))

<class 'int'>
<class 'int'>
enter your roll no4665364
<class 'int'>

In [ ]:
ch = 'h'
st1 = "hello"

print(type(ch) == type(st1))

True

In [ ]:
age = input("Age:")

print(type(age))

age = int(age)
print(type(age))

x = int(input("Number: "))
print(type(x))

Age:23
<class 'str'>
<class 'int'>
Number: 3
<class 'int'>

In [ ]:
# This is a single-line comment. Python ignores it.
# Use comments to make your code easier to understand.
x = 5  # This variable stores the number of retries.

In [ ]:
a = 15
b = 4
print(a + b)  # Addition
print(a - b)  # Subtraction
print(a * b)  # Multiplication
print(a / b)  # Division

19
11
60
3.75

In [ ]:
a = 15
b = 4
print(a // b) # Floor Division (division that rounds down)
print(a % b)  # Modulus (remainder of a division)
print(a ** b) # Exponent (a to the power of b)

3
3
50625

####Module 1.1: Introduction to Python Data Structures
Collection  = Single Value Used to Store Multiple Values

List - Square Braces [ ] , Ordered, Changeable(Muatable). Duplicates OK

Tuple - rounded Braces ( ), Ordered, Unchangeable(Immuatable). Duplicates OK. Faster

SET - Curly Braces { }, Unordered, Immuatable, But Add/Remove OK. No Duplicates.

Dictionary - Curly Braces { }, Unordered, Mutable. Stores Key–Value Pairs. Keys Unique

#####List
A list is an ordered and changeable (mutable) collection of items. Lists allow duplicate members.

Important Points:

- Ordered: The items have a defined order, and that order will not change.

- Mutable: You can change, add, and remove items in a list after it has been created.

- Allows Duplicates: A list can contain items with the same value.

- Syntax: Defined by square brackets [ ].

In [ ]:
# 1. Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# 2. Accessing items by index (starts at 0)
first_fruit = fruits[0]
print("First fruit:", first_fruit)

First fruit: apple

In [ ]:
# 3. Changing an item (Lists are mutable)
fruits[1] = "blackberry"
print("List after change:", fruits)

List after change: ['apple', 'blackberry', 'cherry']

In [ ]:
# 4. Adding an item to the end
fruits.append("orange")
print("List after append:", fruits)

List after append: ['apple', 'blackberry', 'cherry', 'orange']

In [ ]:
# 5. Adding an item at a specific position
fruits.insert(1, "mango")
print("List after insert:", fruits)

List after insert: ['apple', 'mango', 'blackberry', 'cherry', 'orange']

In [ ]:
# 6. Removing an item
fruits.remove("cherry")
print("List after remove:", fruits)

List after remove: ['apple', 'mango', 'blackberry', 'orange']

In [ ]:
# 7. Getting the length of a list
print("Number of fruits:", len(fruits))

Number of fruits: 4

In [ ]:
# 8. A list can contain different data types, including duplicates
mixed_list = [1, "hello", 3.14, "hello", True]
print(mixed_list)

[1, 'hello', 3.14, 'hello', True]

#####Tuple
A tuple is an ordered and unchangeable (immutable) collection of items. Tuples allow duplicate members.

Important Points:

-  Ordered: Just like lists, items have a defined order.

- Immutable: Once a tuple is created, you cannot change, add, or remove items. This is the key difference from a list.

- Allows Duplicates: Tuples can have items with the same value.

- Syntax: Defined by round brackets ().

In [ ]:
# 1. Creating a tuple
coordinates = (10.0, 20.0)
print(coordinates)

(10.0, 20.0)

In [ ]:
# 2. Accessing items by index
x = coordinates[0]
print("X-coordinate:", x)

X-coordinate: 10.0

In [ ]:
coordinates[1] = 14
# 3. Trying to change a tuple will cause an error!
# Uncomment the line below to see the TypeError
# coordinates = 15.0 # This will fail

NameError: name 'coordinates' is not defined

In [ ]:
# 4. Tuples can contain different data types and duplicates
person_data = ("John", 30, "John")
print(person_data)

('John', 30, 'John')

In [ ]:
# 5. Getting the length of a tuple
print("Length of tuple:", len(person_data))

Length of tuple: 3

In [ ]:
# 6. When to use a tuple?
# When you have data that should not change, like days of the week or RGB color values.
primary_colors = ("red", "green", "blue")
print("Primary colors:", primary_colors)

Primary colors: ('red', 'green', 'blue')

#### 1. Accessing Elements in Lists and Tuples
Lists and Tuples are both ordered, so they share the same methods for accessing elements based on their position (index).

In [ ]:
'''
a) Positive Indexing
Access a single item using its index, starting from 0 for the first item.
'''
my_list = ['p', 'y', 't', 'h', 'o', 'n']
my_tuple = ('p', 'y', 't', 'h', 'o', 'n')

# Access the first element (index 0)
print("First item of list:", my_list[0])  # Output: p
print("First item of tuple:", my_tuple[0]) # Output: p

First item of list: p
First item of tuple: p

In [ ]:
'''
b) Negative Indexing
Access items starting from the end of the collection. -1 refers to the last item, -2 to the second-to-last, and so on.
'''
# Access the last item
print("Last item of list:", my_list[-1]) # Output: n

# Access the second-to-last item
print("Second-to-last item of tuple:", my_tuple[-2]) # Output: o

Last item of list: n
Second-to-last item of tuple: o

In [ ]:
st1 = 'h'
st2 = "h"
print(type(st2))
print(st1 == st1)

<class 'str'>
True

In [ ]:
'''
c) Slicing
Access a range of items by specifying a start and end index ([start:stop]). The stop index is not included in the result.
'''
#p y t h o n
#
# Get items from index 2 up to (but not including) index 5
print("Slice [2:5]:", my_list[2:5]) # Output: ['t', 'h', 'o']
#   [Start : Stop]
# Get items from the beginning up to index 3
print("Slice [:3]:", my_list[:3]) # Output: ['p', 'y', 't']

# Get items from index 3 to the end
print("Slice [3:]:", my_list[3:]) # Output: ['h', 'o', 'n']

# Get every second item in the list (slicing with a step)
print("Slice [::2]:", my_list[::2]) # Output: ['p', 't', 'o']
# [Start : Stop : Step]

Slice [2:5]: ['t', 'h', 'o']
Slice [:3]: ['p', 'y', 't']
Slice [3:]: ['h', 'o', 'n']
Slice [::2]: ['p', 't', 'o']

In [ ]:
name, age, cgpa = ["Alice", 25, 3.8]
print(name)
print(age)
print(cgpa)

Alice
25
3.8

In [ ]:
'''
d) Unpacking
Assign items from a list or tuple to multiple variables at once. The number of variables must match the number of items.
'''
person = ["Alice", 25, "Engineer"]
name, age, profession = person
print(name)      # Output: Alice
print(age)       # Output: 25
print(profession) # Output: Engineer

# Unpacking with a "catch-all" variable using *
numbers = [1, 2, 3, 4, 5]
first, second, *rest = numbers
print("First:", first) # Output: 1
print("Rest:", rest)  # Output: [3, 4, 5]

####2. Accessing Elements in Sets
Sets are unordered and unindexed, so you cannot access items by an index number.

In [ ]:
'''
a) Checking for Membership
The most common way to "access" an item in a set is to check if it exists using the in keyword. This operation is extremely fast and efficient for sets.

'''
my_set = {"apple", "banana", "cherry"}

# Check if an item exists
if "banana" in my_set:
    print("Yes, 'banana' is in the set.")
else:
    print("No, 'banana' is not in the set.")

In [ ]:
'''
b) Looping (Traversing)
To work with the elements, you must loop through the set.
'''
for item in my_set:
    print(item)

In [ ]:
'''
c) Converting to a List
If you need to access items by index (and the order doesn't matter), you can convert the set to a list first.
'''

set_as_list = list(my_set)
print("Set converted to list:", set_as_list)
print("First item of the converted list:", set_as_list[0])

####3. Accessing Elements in Dictionaries
Dictionaries use keys instead of indexes to access their corresponding values.

In [ ]:
'''
a) Using Square Brackets [key]
This is the most direct way to access a value. However, it will raise a KeyError if the key does not exist.
'''
student = {"name": "Bob", "age": 22, "major": "History"}

# Access the value associated with the 'name' key
print("Name:", student["name"]) # Output: Bob

# This will cause a KeyError because 'gpa' does not exist
# print(student["gpa"])

In [ ]:
'''
b) Using the .get() Method
This is a safer way to access a value. It returns the value for a key if it exists, but returns None (or a specified default value) if the key is not found. It does not raise an error.
'''
# Safely access the value for 'age'
age = student.get("age")
print("Age:", age) # Output: 22

# Safely access a key that does not exist
gpa = student.get("gpa")
print("GPA:", gpa) # Output: None

# Provide a default value if the key is not found
grade = student.get("grade", "N/A")
print("Grade:", grade) # Output: N/A

In [ ]:
'''
c) Accessing Keys, Values, and Items
You can retrieve collections of all keys, values, or key-value pairs.
'''
# Get all keys as a list-like view object
keys = student.keys()
print("All keys:", keys) # Output: dict_keys(['name', 'age', 'major'])

# Get all values
values = student.values()
print("All values:", values) # Output: dict_values(['Bob', 22, 'History'])

# Get all key-value pairs as tuples
items = student.items()
print("All items:", items) # Output: dict_items([('name', 'Bob'), ('age', 22), ('major', 'History')])

###SET
A set is an unordered, unchangeable, and unindexed collection of items. Sets do not allow duplicate members.

* Note: Set items are unchangeable, but you can add or remove items from the set itself.

Important Points:

- Unordered: The items in a set do not have a defined order.

- No Duplicates: Each item in a set must be unique.

- Mutable: You can add and remove items from a set.

- Syntax: Defined by curly braces {}.

In [ ]:
# 1. Creating a set (duplicates are automatically removed)
numbers = {1, 2, 3, 4, 3, 2}
print("Set of numbers:", numbers) # Output: {1, 2, 3, 4}

In [ ]:
# 2. Adding an item to a set
numbers.add(5)
print("Set after add:", numbers)

In [ ]:
# 3. Removing an item from a set
numbers.remove(3)
print("Set after remove:", numbers)

In [ ]:
# 4. Checking if an item is in a set (this is very fast!)
if 4 in numbers:
    print("4 is in the set.")

In [ ]:
# 5. Set Operations: Union (all items from both sets)
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a | set_b
print("Union:", union_set)

In [ ]:
# 6. Set Operations: Intersection (items that are in both sets)
intersection_set = set_a & set_b
print("Intersection:", intersection_set)

In [ ]:
# create a set
my_set = {"apple", "banana", "cherry", 10, 20}

print("Traversing the set:")
for item in my_set:
    print(item)

In [ ]:
# Indexing not allowed
s = {1, 2, 3}
# print(s[0])   # Error: 'set' object is not subscriptable

In [ ]:
# Unhashable (mutable) items cannot be inside a set
s = {1, 2, [3, 4]}  #  Error: unhashable type: 'list'

In [ ]:
# Removing an item that does not exist (with remove)
s = {1, 2, 3}
s.remove(10)   # KeyError: 10 not in set

####Uses of Sets

In [ ]:
# Avoid duplicates
nums = [1, 2, 2, 3, 4, 4]
unique_nums = set(nums)
print(unique_nums)  # {1, 2, 3, 4}

In [ ]:
# Mathematical operations (union, intersection, difference)
a = {1, 2, 3}
b = {3, 4, 5}

print("Union:", a | b)         # {1, 2, 3, 4, 5}
print("Intersection:", a & b)  # {3}
print("Difference:", a - b)    # {1, 2}

In [ ]:
# Membership checking (fast lookup)
s = {10, 20, 30}
print(20 in s)   # True
print(100 in s)  # False

###Dictionaries
A dictionary is an ordered (in Python 3.7+) and changeable collection that stores data in key-value pairs.

Important Points:

- Key-Value Pairs: Each item has a key and a corresponding value.

- Unique Keys: Dictionary keys must be unique.

-  Mutable: You can change, add, and remove items.

- Syntax: Defined by curly braces {} with key: value pairs.

In [ ]:
# 1. Creating a dictionary
student = {
    "name": "Alice",
    "age": 21,
    "major": "Computer Science"
}
print(student)

In [ ]:
# 2. Accessing a value by its key
student_name = student["name"]
print("Student's name:", student_name)

In [ ]:
# 3. Changing a value
student["age"] = 22
print("Dictionary after change:", student)

In [ ]:
# 4. Adding a new key-value pair
student["gpa"] = 3.8
print("Dictionary after adding GPA:", student)

In [ ]:
# 5. Removing a key-value pair
del student["major"]
print("Dictionary after removing major:", student)

In [ ]:
# 6. Getting all keys
print("All keys:", student.keys())

In [ ]:
# 7. Getting all values
print("All values:", student.values())

In [ ]:
# 8. Checking if a key exists
if "name" in student:
    print("The key 'name' exists in the dictionary.")

| Feature | List `[]` | Tuple `()` | Set `{}` | Dictionary `{key:value}` |
| :--- | :--- | :--- | :--- | :--- |
| **Ordered** | Yes | Yes | No | Yes (Python 3.7+) |
| **Mutable** | Yes | No | Yes | Yes |
| **Duplicates Allowed** | Yes | Yes | No | No (for keys) |
| **How to Access** | Index (e.g., `my_list[0]`) | Index (e.g., `my_tuple[0]`) | No indexing | Key (e.g., `my_dict["key"]`) |
| **Use Case** | A collection of items you might need to change. | A collection of items that should never change. | Storing unique items and performing math set operations. | Storing related information as key-value pairs. |

In [ ]:
dict1 = {"name": "Ravi", "age": 22, "city": "Udaipur"}

In [ ]:
for key in dict1:
    print(key)

name
age
city

In [ ]:
for value in dict1.values():
    print(value)

Ravi
22
Allahabad

In [ ]:
for key, value in dict1.items():
    print(key, "->", value)

name -> Ravi
age -> 22
city -> Allahabad

#####Uses of Dictionaries

In [ ]:
# Fast lookups by key
student = {"id": 101, "name": "Dev", "marks": 95}
print(student["name"])  # Dev

Dev

In [ ]:
# Storing structured data
employees = {
    "emp1": {"name": "Ravi", "age": 22},
    "emp2": {"name": "Dev", "age": 21}
}
print(employees["emp2"]["name"])

Dev

In [ ]:
# Dynamic updates
student["grade"] = "A"   # add new key
student["marks"] = 98    # update existing key
print(student)

{'id': 101, 'name': 'Dev', 'marks': 98, 'grade': 'A'}

##Module 2: Making Decisions with if, elif, and else

In [ ]:
num = int(input("No : "))
if num < 5:
    print("The number is less than 5.")
elif num == 5:
    print("The number is equal to 5.")
else:
    print("The number is greater than 5.")

No : 6
The number is greater than 5.

In [ ]:
age = 18
if age >= 18:
    print("You are eligible to vote.")

In [ ]:
x = 7
if x % 2 == 0:
    print(f"{x} is an even number.")
else:
    print(f"{x} is an odd number.")

7 is an odd number.

In [ ]:
score = 85
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: F")

In [ ]:
age = 25
has_license = True
if age >= 18 and has_license == True:
    print("You are allowed to drive.")

In [ ]:
is_raining = False
is_sunny = True
if is_raining or is_sunny:
    print("The weather is not cloudy.")

In [ ]:
num = 15
if num > 0:
    print("The number is positive.")
    if num > 10:
        print("It is also greater than 10.")

In [ ]:
is_logged_in = True
if is_logged_in: # This is a shorter way of writing 'if is_logged_in == True'
    print("Welcome to your account!")

In [ ]:
username = "Admin"
if username == "Admin":
    print("Welcome, Administrator.")
else:
    print("Welcome, guest.")

In [ ]:
is_file_saved = False
if not is_file_saved:
    print("Warning: You have unsaved changes!")

In [ ]:
number = -5
if number > 0:
    print("The number is positive.")
else:
    print("The number is not positive (it is zero or negative).")

##Module 3: Repeating Actions with for Loops

In [ ]:
FOR(INT I=0; I<90; I++){
    PRINT("%D", I);
}

In [ ]:
# The loop will run 5 times (for i = 0, 1, 2, 3, 4)
for i in range(90):
    print("This is loop number", i)

This is loop number 0
This is loop number 1
This is loop number 2
This is loop number 3
This is loop number 4

In [ ]:
# fruits = ["apple", "banana", "cherry"]
# for fruit in fruits:
#     print("I like to eat", fruit)

In [ ]:
for i in range(10):
    if i == 5:
        print("Stopping the loop now.")
        break
    print(i)

0
1
2
3
4
Stopping the loop now.

In [ ]:
for j in range(3):
  for i in range(10):
    if i == 5:
        print("Stopping the loop now.")
        break
    print(i)

0
1
2
3
4
Stopping the loop now.
0
1
2
3
4
Stopping the loop now.
0
1
2
3
4
Stopping the loop now.

In [ ]:
for i in range(5):
    if i == 2:
        print("Skipping this one.")
        continue
    print("Processing number", i)

Processing number 0
Processing number 1
Skipping this one.
Processing number 3
Processing number 4

In [ ]:
for character in "Python":
    print(character)

P
y
t
h
o
n

In [ ]:
# A loop within another loop creates a grid pattern.
for i in range(3):  # Outer loop (rows)
    for j in range(2): # Inner loop (columns)
        print(f"Row {i}, Column {j}")


***
***
***

123
456
789



user input  x = 4
*
**
***
****

In [ ]:
r = int(input("Row: "))
c = int(input("Column: "))
for i in range(r):
    for j in range(c):
        print("*", end="")
    print()

Row: 5
Column: 4
****
****
****
****
****

In [ ]:
# colors = ["red", "green", "blue"]
# for index, color in enumerate(colors):
#     print(f"Color at index {index} is {color}")

In [ ]:
total = 0
for i in range(1, 6): # numbers 1, 2, 3, 4, 5
    total = total + i
print("The sum is:", total)

In [ ]:
scores = [88, 92, 75, 100, 60]
for score in scores:
    print("Processing score:", score)

##Module 4: Repeating Actions with while Loops

In [ ]:
count = 1
while count <= 5:
    print("The count is:", count)
    count = count + 1 # This is crucial to prevent an infinite loop!

In [ ]:
# This loop requires a 'break' to stop.
while True:
    command = input("Type 'exit' to quit: ")
    if command == "exit":
        break
    print("You typed:", command)

In [ ]:
num = 0
while num < 5:
    num += 1
    if num == 3:
        continue # Skip the print statement when num is 3
    print(num)

In [ ]:
timer = 5
while timer > 0:
    print(timer)
    timer -= 1
print("Go!")

In [ ]:
# This code will run forever. You'll need to stop it manually (e.g., Ctrl+C).
# while 1 == 1:
#     print("This will never stop on its own.")

In [ ]:
secret_word = "python"
guess = ""
while guess != secret_word:
    guess = input("Guess the secret word: ")
print("You guessed it!")

In [ ]:
# Simulate filling a bucket
water_level = 0
while water_level < 100:
    print(f"Water level: {water_level}%")
    water_level += 20
print("The bucket is full.")

In [ ]:
outer_count = 1
while outer_count <= 2:
    inner_count = 1
    while inner_count <= 3:
        print(f"Outer: {outer_count}, Inner: {inner_count}")
        inner_count += 1
    outer_count += 1

In [ ]:
count = 0
while count < 3:
    print("Processing item", count)
    count += 1
else:
    print("All items processed.")

##Module 5: Combined Examples and Mini-Projects

In [ ]:
#Categorize Numbers in a List
numbers = [10, -5, 0, 23, -1]
for num in numbers:
    if num > 0:
        print(f"{num} is positive.")
    elif num < 0:
        print(f"{num} is negative.")
    else:
        print(f"{num} is zero.")

In [ ]:
#Find the Average of a List of Numbers
data = [10, 20, 30, 40, 50]
total = 0
for num in data:
    total += num
average = total / len(data)
print("The average is:", average)

In [ ]:
# A Simple Login System
password = "123"
for i in range(3): # Give the user 3 attempts
    attempt = input("Enter password: ")
    if attempt == password:
        print("Access granted.")
        break
    else:
        print("Incorrect. Try again.")

In [ ]:
# Number Guessing Game with Hints
secret_number = 42
while True:
    guess = int(input("Guess a number between 1 and 100: "))
    if guess < secret_number:
        print("Too low!")
    elif guess > secret_number:
        print("Too high!")
    else:
        print("Congratulations! You guessed it.")
        break

KeyboardInterrupt: Interrupted by user

In [ ]:
# Find Common Items in Two Lists
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
for item1 in list1:
    for item2 in list2:
        if item1 == item2:
            print(f"Found a common number: {item1}")

In [ ]:
# Find the Smallest Number in a List
values = [4, 2, 9, 1, 7]
smallest = values[0]
for val in values:
    if val < smallest:
        smallest = val
print("The smallest value is:", smallest)

In [ ]:
#  Count Vowels in a String
text = "hello world"
vowel_count = 0
for char in text:
    if char in "aeiou":
        vowel_count += 1
print("Number of vowels:", vowel_count)

In [ ]:
# Check for Palindromes
word = "madam"
if word == word[::-1]: # [::-1] reverses the string
    print(f"{word} is a palindrome.")
else:
    print(f"{word} is not a palindrome.")

In [ ]:
# Generate a Multiplication Table
num = 7
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# A classic programming interview question
# The FizzBuzz Challenge
for i in range(1, 21):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

##Module 6: Practice Exercises

In [ ]:
# Print the numbers from 1 to 10.Print the numbers from 1 to 10.

In [ ]:
for i in range(1,11):
  i=i+2
  print(i)

3
4
5
6
7
8
9
10
11
12

In [ ]:
# Create a list of your favorite foods and print each one on a new line.

In [ ]:
# Write a program that asks for a user's age and tells them if they are a minor, an adult, or a senior.

In [ ]:
# Write a while loop that asks for user input until they type "stop".

In [ ]:
# Calculate the factorial of a number (e.g., 5! = 12345).

In [ ]:
# Create a list of numbers and print only the even ones

In [ ]:
#Write a simple calculator that can add, subtract, multiply, or divide two numbers.

In [ ]:
#  Reverse a string using a loop.

In [ ]:
# Find and print all the numbers in a list that are greater than 10.

In [ ]:
# Write a program that prints a square of asterisks (*) based on a user-provided size.

1. Positive, Negative, or Zero
 - Input a number, check if it’s positive, negative, or zero.

2. Even or Odd
   - Input a number and check if it’s even or odd.

3. Maximum of Two Numbers
   - Input two numbers and find the larger one.

4. Maximum of Three Numbers
   - Input three numbers and find the largest.

5. Leap Year Check
   - Input a year and check whether it’s a leap year or not.

6. Grade Calculator

  - Input marks and display grade (A, B, C, etc.) using conditions.

7. Divisible by 5 Or/And 11
 - Input a number and check if it’s divisible by 5 Or/And 11.

➝ For Loop

1. Print numbers from 1 to N.

2. Print the multiplication table of a number.

3. Find the sum of first N natural numbers.

4. Find the factorial of a number.

5. Print Fibonacci series up to N terms.

➝ While Loop

1. Reverse a given number.

2. Count digits in a number.

3. Check whether a number is palindrome or not.

4. Find the sum of digits of a number.

5. Check whether a number is an Armstrong number.

➝ Nested Loops (Patterns)

1. Print a square pattern of *.

2. Print a right-angled triangle pattern.

3. Print a pyramid pattern.

4. Print Floyd’s Triangle (1,2,3,4…).

5. Print multiplication table in grid form (1 to 10).

##Code

In [ ]:
x = int(input("1st: "))
y = int(input("2nd: "))
if(x<y):
  print("x<y")
else:
  print("x>y")

1st: 3
2nd: 4
x<y

In [ ]:
x = int(input("X: "))
y = int(input("Y: "))
z = int(input("Z: "))
# max1 = 0
# max2 = 0
if(x>y):
  if(x>z):
    print("max is X")
  else:
    print("max is Z")
elif(y>z):
    print("max is Y")
else:
  print("max is Z")

X: 4
Y: 2
Z: 8
max is Z

In [ ]:
i = int(input("Enter a number: "))
if(i%5 == 0):
  if(i%11 == 0):
    print("FizzBuzz")
  else:
    print("Fizz")
elif(i%11 == 0):
  print("Buzz")
else:
  print(i)

Enter a number: 22
Buzz

232:: 6th,7th

217: 1st,2nd,3rd